#frontpage-course-list,
#frontpage-category-combo {
    h2 {
        text-align: center;
    }

    .card-deck .card .card-footer .icon {
        height: 36px;
    }
}

.course-contacts {
    margin: -30px 6px -20px 6px;
    text-align: right;

    .contact {
        margin: 0 3px;

        img {
            width: 48px;
            border: 2px solid white;
            cursor: pointer;
            border-radius: 50%;
        }
    }
}

#frontpage-category-combo .courses .card-deck .card,
#frontpage-course-list .frontpage-course-list-all .card-deck .card {
    margin-bottom: 2rem;
}

#page-site-index #biossexslideshow {
    margin: 1rem 0;

    .carousel-item {
        max-height: 540px;
        overflow: hidden;
    }

    .carousel-indicators {
        li {
            width: 30px;
            height: 10px;
            border: 1px solid $brand-primary;
        }
    }

    .carousel-caption {
        top: 0;
        left: 40px;
        bottom: inherit;
        width: fit-content;
        max-width: 50%;
        text-align: inherit;
        text-shadow: none;

        .title,
        .caption {
            color: #fff;
            background-color: rgba(0, 0, 0, 0.8);
            margin-top: 40px;
            padding: 20px;
            max-width: intrinsic;
            max-width: -moz-max-content;
            max-width: -webkit-max-content;
        }

        .title {
            font-size: 2rem;
        }
    }
}

#page-site-index.notloggedin {
    margin-left: 0;

    #biossexslideshow {
        margin: 0;
    }

    #page-wrapper {
        padding-bottom: 0;
    }

    #page {
        padding: 0;
        background-color: #fff;
        margin-top: 70px;
    }

    .hide-content {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    #page-header {
        background-position: left top;
        background-repeat: no-repeat;
        background-color: #fff;
        background-size: 100%;
        min-height: 540px;
        padding: 0 4rem;
    }

    .frontpage-marketing {
        margin: -4rem 0 0 0;
        padding: 2rem 0;

        .card {
            flex-basis: calc(25% - 1rem);
            text-align: center;
            margin: 0 0.5rem;

            img {
                max-width: 100%;
            }

            h2 {
                color: #565656;
                margin: 20px 0;
            }

            h3 {
                color: #a4a3a3;
            }

            p {
                color: #9f9f9f;
                margin: 1.5em 0;
            }
        }
    }

    .frontpage-numbers {
        background: $brand-primary;
        padding: 8rem 0;

        .row {
            max-width: 1140px;
            margin: 0 auto;
            color: #fff;

            h2 {
                color: $brand-primary;
                -webkit-filter: invert(100%);
                filter: invert(100%);
                font-weight: 800;
                margin: 1rem 0 0 0;
                font-size: 3.2rem;
                text-transform: uppercase;

                p {
                    font-weight: 400;
                }
            }

            .number {
                text-align: center;

                span {
                    color: #fff;
                    font-weight: 400;
                }

                h3 {
                    color: #fff;
                    font-size: 1.7rem;
                    font-weight: 900;
                    margin: 0.3em 0;
                    padding: 0;
                }

                hr {
                    width: 80%;
                    background: #fff;
                    display: inline-block;
                }

                p {
                    color: #fff;
                    font-weight: 100;
                    text-transform: uppercase;
                    font-size: 1.2em;
                    margin: 0;
                }
            }
        }
    }

    .frontpage-maincontent,
    .fontpage-faq {
        h2 {
            color: $brand-primary;
            text-align: center;

            &:before,
            &:after {
                display: inline-block;
                content: "";
                border-bottom: 1px solid $brand-primary;
                border-top: 1px solid $brand-primary;
                width: 8rem;
                height: 5px;
                margin: 0 0.5rem;
                vertical-align: bottom;
                transform: translateY(-1rem);
            }
        }
    }

    .frontpage-maincontent {
        padding-top: 2rem;
        padding-bottom: 2rem;

        h2 {
            margin-bottom: 4rem;
        }
    }

    .fontpage-faq {
        padding-top: 2rem;
        padding-bottom: 2rem;

        h2 {
            margin: 2rem 0 4rem 0;
        }

        #accordion {
            .card {
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }

            .btn-link {
                color: #130e24;
                text-decoration: none;
                font-weight: 400;
                margin: 0;
                padding: 0;
                font-size: 1.2rem;

                &:before {
                    color: $brand-primary;
                    content: "\f068";
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }

                &.collapsed:before {
                    content: "\f067";
                }
            }
        }
    }

    .frontpage-sponsors,
    .frontpage-clients {
        padding-top: 2rem;
        text-align: center;

        h2 {
            color: $brand-primary;
        }

        p {
            font-size: 1.2rem;
            margin-top: 1rem;
        }

        .row {
            display: table;
            width: 100%;

            .item {
                display: table-cell;
                margin: 0 10px;

                img {
                    vertical-align: middle;
                    max-width: 100%;
                }
            }
        }
    }

    .frontpage-sponsors {
        padding-bottom: 0;

        &:after {
            content: "";
            display: block;
            border-bottom: 1px solid $brand-primary;
            width: 50%;
            margin: 2rem auto;
        }
    }

    .frontpage-clients {
        padding-bottom: 2rem;
    }
}

#page-site-index {
    #frontpage-available-course-list {
        h2 {
            color: transparent;

            &:before,
            &:after {
            }
        }
    }

    &.slideshow {
        #page-header {
            padding: 0;
            position: relative;
            background-image: none !important;
            /* stylelint-disable-line declaration-no-important */
        }

        #loginbox {
            display: none;
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }
}

body.notloggedin {
    .btn-login-top {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        color: $brand-primary;
        border: 1px solid $brand-primary;
        cursor: pointer;
    }

    #loginbox {
        opacity: 0.94;
        margin-bottom: 3rem;

        &.dropdown-menu {
            top: 70px !important;
        }

        #intro {
            text-align: left;
            color: #fff;

            h1 {
                color: #fff;
                letter-spacing: 0.2rem;
                text-shadow: 2px 4px 4px #000;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }

            h2 {
                color: #fff;
                text-shadow: 1px 1px 1px #000;
                letter-spacing: 0.1rem;
                max-width: 80%;
            }
        }

        h3 {
            margin-top: 0;
            font-size: 1.6rem;
        }

        label {
            font-size: 1.3rem;
            margin-bottom: 0.1rem;
        }

        .input-group {
            margin-bottom: 10px;

            input,
            .input-group-addon {
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
            }

            input {
                height: 40px;
                font-size: 1.2rem;
            }

            .input-group-addon {
                width: 40px;
                height: 40px;
                line-height: 30px;
                padding: 4px 10px;
                margin-bottom: 0;
                font-size: 1rem;
                font-weight: 400;
                color: #55595c;
                text-align: center;
                background-color: #eceeef;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-right: 0;
            }
        }

        .sign-up-btn {
            .btn {
                padding: 10px 20px;
                margin-left: 0;
                font-size: 1.3rem;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
            }
        }

        p {
            text-shadow: none;
            margin-top: 14px;

            a {
                text-decoration: none;
                color: $brand-primary;
                font-size: 1.2rem;
            }
        }

        .btn-register {
            margin: 0;
            width: 100%;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }

        #boxForm {
            background-color: #fff;
            color: #5a5a5a;
            margin-top: 1rem;
            text-align: left;
            opacity: 1;
        }

        &.dropdown-menu {
            right: 0;
            width: 340px;
            line-height: 32px;

            h3 {
                display: none;
            }

            .sign-up-btn .btn {
                padding: 0.375rem 0.75rem;
                font-size: 0.9375rem;
            }

            p a {
                font-size: 0.9375rem;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    #page-site-index.notloggedin {
        .frontpage-marketing {
            padding-bottom: 0;

            .card {
                margin-bottom: 0.25rem;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .fontpage-faq h2,
        .frontpage-maincontent h2 {
            margin-bottom: 2rem;

            &:after,
            &:before {
                display: none;
            }
        }

        .fontpage-faq {
            padding-top: 0;
        }
    }

    #page-site-index {
        #frontpage-available-course-list {
            h2 {
                &:before,
                &:after {
                    display: none;
                }
            }

            .card-title {
                font-size: 1.171875rem;
            }
        }
    }
}

#page-wrapper #page #page-content {
    margin: 0;
    gap: 4rem;
}
#page-wrapper #page {
    padding: 0;
    gap: 4rem;
}

.containerbiossex {
    display: block;
    margin-bottom: 2rem;
}

.mb-biossex {
    width: 100%;
}

/*Estilo principal page, welcome*/
.titleVideo {
    font-size: 1.5rem;
    font-weight: 700;
  }

.container{
    margin: 0 auto;
}
.Video {
    width: 100%;
    margin: auto;
}
/* El contenedor con el padding-top crea el tamaño del vídeo */
.VideoContent {
    height: 16rem;
    width: 100%;
    max-width: 500px; /* Así establecemos el ancho máximo (si lo queremos) */
}
.VideoContent img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}
/* El iframe se adapta al tamaño del contenedor */
iframe {
    height: 100%;
    width: 100%;
}

/* El contenedor con el padding-top crea el tamaño del vídeo */
.VacanteContent {
    height: 0px;
    width: 100%;
    max-width: 588px; /* Así establecemos el ancho máximo (si lo queremos) */
    padding-top: 56.25%; /* Relación: 16/9 = 56.25% */
    position: relative;
}
.VacanteContent img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}
.imgstyle {
    border: 0.3rem solid #f38020;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}

#containertxtvideo {
    height: auto;
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    margin: 0;
}

.pagelayout-login #page,
body {
    background-color: #E5E5E5;
    padding: 0 !important;
    overflow-x: hidden;
}

/*Estilo para el plan de capacitación*/

.plancapacitacion img {
    width: 100%;
    filter: brightness(50%);
    padding: none !important;
}

.textoencima {
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 5rem;
    padding-bottom: 3rem;
}

.z-index{
    z-index: 1;
}
/* CAMBIOS DANIEL */
.contCapacitacionDos{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0 2rem;
}
.contCapacitacionDosModal{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0 2rem;
    padding-bottom: 6rem;
}
.contSemana{
    margin: auto;
    min-width: 13rem;
    width:min-content;
    z-index: 2;
}
.contSemanamax{
    margin: auto;
    min-width: 13rem;
    width:min-content;
    z-index: 2;
}
.contTituloSemana{
    background-color: white;
    padding: 0.8rem 2rem;
    font-size: 28px;
    border-radius: 0.5rem;
}
.spanSemana{
    font-size: 1.2rem;
}
.contSubSemana{
    color: white;
    text-align: center;
    padding: 5rem 0 4.5rem 0;
    font-size: 1.2rem;
}
.displayBlock{
    display: block !important;
}
.filasCapacitacion{
    position: absolute;
    display: none;
}

.containCursos{
    background-color: white;
    margin: auto;
    padding: 1.5rem !important;
    border-radius: 0.5rem;
  }
  
  .containCursos h4{
    margin: 0;
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: 100;
  }
  
  .containCardCursos{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .cardCurso p{
    margin: 0;
  }
  
  .titleCardCurso{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    min-height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: min-content;
    padding: 1.25rem;
  }

  .gridContainCursos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 0 1rem;
        align-items: center;
  }

  .subtitleCardCurso{
    font-weight: 600;
    font-size: 0.75rem;
  }
  
  .footerCardCurso{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.25rem 0;
    background-color: #505559;
    color: #fff;
    font-weight:500;
  }
  
  .progressNumber{
    font-size: 0.65rem;
    font-weight: 100;
  }

  .progressCursos{
    width: 75%;
    height: 0.65rem;
    margin: 0 auto;
    background-color: transparent;
  }

  .progressCursos::-webkit-progress-bar {
        background-color: white;
        border: 2px solid white;
        border-radius: 7px;
    }
    .progressCursos::-webkit-progress-value {
        background-color: #f38020;
        border-radius: 7px;
    }

    .red::-webkit-progress-value{
        background-color: #EF2222 !important;
    }
    .orange::-webkit-progress-value{
        background-color: #F58220 !important;
    }
    .yellow::-webkit-progress-value{
        background-color: #F9DE16 !important;
    }
    .green::-webkit-progress-value{
        background-color: #3FD850 !important;
    }
  
  .contButtonMas{
    text-align: center;
    padding: 2rem 0 1rem 0;
  }
  
  .contButtonMas button{
    background-color: rgb(105, 105, 105);
    width: 8rem;
    color: #ffff;
    border: none;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }

/* Estilos del carrusel */

.footermed {
    background-color: white;
}

.footermed1 {
    background-color:#F38020;
}

.footerCar {
    background-color: rgb(23, 23, 23);
    height: 2.5rem;
}
.footerCar img {
    margin-top: 0.5rem;
    height: 1.8rem;
    padding: 0.2rem;
}
.col-8 {
    overflow: hidden;
}
.col-8 img {
    width: 100%;
    min-height: 300px;
}

.carousel-indicators {
    margin-top: 25vw;
}

/* Estilo para los avances*/

.contenedorAvances {
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    width: 100%;
}

progress {
    width: 80%;
    height: 20px;
    background-color: white;
    margin: 0 auto;
}

progress::-webkit-progress-bar {
    background-color: white;
    border: 2px solid #f38020;
    border-radius: 7px;
}
progress::-webkit-progress-value {
    background-color: #f38020;
}
progress::-moz-progress-bar {
    /* style rules */
}
.grade {
    color: #f38020;
    font-weight: 700;
}

.progresstext {
    color: gray;
    font-weight: 400;
}

.tableAvances {
    text-align: center;
    border: none;
}

.bodyTableAvances tr,
.bodyTableAvances td {
    border: none !important;
}

.bodyTableAvances td {
    border-left: 2px #b8b9bb solid !important;
}

.bodyTableAvances td:first-child {
    border: none !important;
}

.btnAvances {
    padding: 10px 50px;
}


/*Estilos para el área del podcast*/
.containerpodcast {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 2.5rem 0;
}
.titlePodcast{
    color: #F38020;
    text-align: left;
    padding-bottom: 1.5rem;
    font-size: 2.5rem;
    padding-left: 3.5rem;
}
.contCasrrusel {
    width: 90%;
    position: relative;
    margin-top: 1rem !important;
    margin: auto;
}
#hola {
    margin-left: 10rem;
}

.contCasrrusel i {
    top: 50%;
    height: 65px;
    width: 65px;
    color: #f38020;
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    text-align: center;
    line-height: 65px;
    background: transparent;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.contCasrrusel i:active {
    transform: translateY(-50%) scale(0.9);
}

.contCasrrusel i:hover {
    background: transparent;
}

.contCasrrusel i:first-child {
    left: -55px;
    display: none;
}

.contCasrrusel i:last-child {
    right: -55px;
}

.contCasrrusel .carrusel {
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    width: 100%;
}

.carrusel .cardCarrusel {
    height: 200px;
    display: inline-block;
    user-select: none;
    margin-left: 24px;
    width: calc(100% / 3);
}

.carrusel .cardCarrusel:first-child {
    margin-left: 0px;
}

.contImg {
    width: 40%;
    height: 100%;
    background-color: white;
    display: inline-block;
}

.contTexto {
    width: 60%;
    height: 100%;
    background-color: #50565A;
    display: inline-block;
    text-align: left;
    padding: 10px;
    vertical-align: top;
    border-radius: 0 1rem 1rem 0rem;

}

.contTexto > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.imgPodcast {
    width: 100%;
    height: 100%;
    vertical-align: baseline;
    object-position: center;
    border-radius: 1rem  0rem 0 1rem;
    margin-left: 4px !important;
    object-fit: cover;
}

.pPodcastTexto {
    font-size: 12px;
    color: #fff;
}
.containerpodcast {
    width: 100%;
}
.carrusel {
    width: 100%;
    height: auto;
}
#artist {
    color: #f38020;
}

#track {
    color: #fff;
}

@media screen and (max-width: 550px) {
    .carrusel .cardCarrusel {
        width: 100%;
    }

    .pPodcastTexto {
        font-size: 12px;
        color: #fff;
    }
}
/*Estilo input file actualizar foto de perfil*/

.containerUpload {
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: -7rem;
}
.panel {
    margin: 100px auto 40px;
    max-width: 500px;
    text-align: center;
}
.button_outer {
    background: #f38020;
    border-radius: 30px;
    text-align: center;
    height: 50px;
    width: 200px;
    display: inline-block;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}
.btn_upload {
    padding: 17px 30px 12px;
    color: #fff;
    text-align: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 3;
    white-space: nowrap;
}
.btn_upload input {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    width: 100%;
    height: 105%;
    cursor: pointer;
    opacity: 0;
}
.file_uploading {
    width: 100%;
    height: 10px;
    margin-top: 20px;
    background: #ccc;
}
.file_uploading .btn_upload {
    display: none;
}
.processing_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 30px;
    background: #50565A;
    transition: 3s;
}
.file_uploading .processing_bar {
    width: 100%;
}
.success_box {
    display: none;
    width: 20px;
    height: 50px;
    position: relative;
}
.success_box:before {
    content: "";
    display: block;
    width: 12px;
    height: 18px;
    border-bottom: 6px solid #fff;
    border-right: 6px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 6px;
    top: 15px;
}
.file_uploaded .success_box {
    display: inline-block;
}
.file_uploaded {
    margin-top: 0;
    width: 50px;
    background: #83ccd3;
    height: 50px;
}
.uploaded_file_view {
    max-width: 200px;
    margin: 40px auto;
    text-align: center;
    position: relative;
    transition: 0.2s;
    opacity: 0;
    border: 2px solid #ddd;
    padding: 15px;
}
.file_remove {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    position: absolute;
    background: #aaa;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    right: -15px;
    top: -15px;
}
.file_remove:hover {
    background: #222;
    transition: 0.2s;
}
.uploaded_file_view img {
    max-width: 100%;
}
.uploaded_file_view.show {
    opacity: 1;
}
.error_msg {
    text-align: center;
    color: #f00;
}



//Estilo para las vacantes//
.lineavacantes{
    width: 25em;
height: 0.5em;
background-color: #F38020;
position: absolute;
bottom: 6.2rem;
right: 0;
}
.pagelayout-login #page,
body {
    background-color: #E5E5E5 !important;
}

.texto-encima {
    position: absolute;
    top: 180px;
    left: 10px;
    color: #F38020;
    font-size: 30px;
}

.texto-encima1 {
    position: absolute;
    top: 205px;
    left: 10px;
    color: #fffefe;
    font-size: 40px;
}

.oscurecer-img {
    filter: brightness(50%);
}

/*ajustes capacitación*/
/* .lineaTipoUnomax, .lineaTipoDosmax, .lineaTipoTresmax, .lineaTipoCuatromax{
    position: absolute;
    background-color: #fff;
    display: none;
}
 */
/* LINEAS DE DOS FILAS */

/* .lineaUnoDosmax { */
/*     width: 97%; */
/*     height: 0.25rem; */
/*     top: 20%; */
/*     left: 0%; */
/* } */
/*  */
/* .lineaUnoTresmax { */
/*     width: 0.25rem; */
/*     height: 5.2rem; */
/*     top: 20%; */
/*     right: 3%; */
/* } */
/*  */
/* .lineaUnoCuatromax { */
/*     width: 95%; */
/*     height: 0.25rem; */
/*     top: 31%; */
/*     right: 3%; */
/* } */
/* .lineaUnoCincomax { */
/*     width: 0.25rem; */
/*     height: 13.2rem; */
/*     top: 31%; */
/*     left: 2%; */
/* } */
/* .lineaUnoSeismax { */
/*     width: 98%; */
/*     height: 0.25rem; */
/*     top: 58%; */
/*     right: 0%; */
/* } */

/* LINEAS DE TRES FILAS */
/* .lineaDosUnomax {
    width: 97%;
    height: 0.25rem;
    top: 16%;
    left: 0%;
}
.lineaDosDosmax {
    width: 0.25rem;
    height: 5.2rem;
    top: 16%;
    right: 3%;
}
.lineaDosTresmax {
    width: 95%;
    height: 0.25rem;
    top: 24.5%;
    right: 3%;
}
.lineaDosCuatromax {
    width: 0.25rem;
    height: 13.3rem;
    top: 24.5%;
    left: 2%;
}

.lineaDosCincomax {
    width: 95%;
    height: 0.25rem;
    top: 46.5%;
    left: 2%;
}
.lineaDosSeismax {
    width: 0.25rem;
    height: 5.2rem;
    top: 46.5%;
    right: 3%;
}
.lineaDosSietemax {
    width: 95%;
    height: 0.25rem;
    top: 55%;
    left: 2%;
}
.lineaDosOchomax {
    width: 0.25rem;
    height: 13.3rem;
    top: 55%;
    left: 2%;
}
.lineaDosNuevemax {
    width: 98%;
    height: 0.25rem;
    top: 77%;
    right: 0%;
} */


/* LINEAS PARA CUATRO FILAS */
/* .lineaTresUnomax{
    width: 97%;
    height: 0.25rem;
    top: 12.5%;
    left: 0%;
}
.lineaTresDosmax{
    width: 0.25rem;
    height: 5.2rem;
    top: 12.5%;
    right: 3%;
}
.lineaTresTresmax{
    width: 95%;
    height: 0.25rem;
    top: 19%;
    right: 3%;
}
.lineaTresCuatromax{
    width: 0.25rem;
    height: 13.3rem;
    top: 19%;
    left: 2%;
}
.lineaTresCincomax{
    width: 95%;
    height: 0.25rem;
    top: 35.5%;
    left: 2%;
}
.lineaTresSeismax{
    width: 0.25rem;
    height: 5.2rem;
    top: 35.5%;
    right: 3%;
}
.lineaTresSietemax{
    width: 95%;
    height: 0.25rem;
    top: 42%;
    left: 2%;
}
.lineaTresOchomax{
    width: 0.25rem;
    height: 13.3rem;
    top: 42%;
    left: 2%;
}
.lineaTresNuevemax{
    width: 95%;
    height: 0.25rem;
    top: 58.5%;
    left: 2%;
}
.lineaTresDiezmax{
    width: 0.25rem;
    height: 5.2rem;
    top: 58.5%;
    right: 3%;
}
.lineaTresOncemax{
    width: 95%;
    height: 0.25rem;
    top: 65%;
    left: 2%;
}
.lineaTresDocemax{
    width: 0.25rem;
    height: 13.3rem;
    top: 65%;
    left: 2%;
}
.lineaTresTrecemax{
    width: 98%;
    height: 0.25rem;
    top: 81.5%;
    right: 0%;
}
 */
/* LINEAS PARA CINCO FILAS */
/* .lineaCuatroUnomax{
    width: 97%;
    height: 0.25rem;
    top: 10%;
    left: 0%;
}
.lineaCuatroDosmax{
    width: 0.25rem;
    height: 5.2rem;
    top: 10%;
    right: 3%;
}
.lineaCuatroTresmax{
    width: 95%;
    height: 0.25rem;
    top: 15.2%;
    right: 3%;
}
.lineaCuatroCuatromax{
    width: 0.25rem;
    height: 13.3rem;
    top: 15.2%;
    left: 2%;
}
.lineaCuatroCincomax{
    width: 95%;
    height: 0.25rem;
    top: 28.7%;
    left: 2%;
}
.lineaCuatroSeismax{
    width: 0.25rem;
    height: 5.2rem;
    top: 29%;
    right: 3%;
}
.lineaCuatroSietemax{
    width: 95%;
    height: 0.25rem;
    top: 34.2%;
    left: 2%;
}
.lineaCuatroOchomax{
    width: 0.25rem;
    height: 13.3rem;
    top: 34.2%;
    left: 2%;
}
.lineaCuatroNuevemax{
    width: 95%;
    height: 0.25rem;
    top: 47.7%;
    left: 2%;
}
.lineaCuatroDiezmax{
    width: 0.25rem;
    height: 5.2rem;
    top: 47.7%;
    right: 3%;
}
.lineaCuatroOncemax{
    width: 95%;
    height: 0.25rem;
    top: 53%;
    left: 2%;
}
.lineaCuatroDocemax{
    width: 0.25rem;
    height: 13.3rem;
    top: 53%;
    left: 2%;
}
.lineaCuatroTrecemax {
    width: 95%;
    height: 0.25rem;
    top: 66.5%;
    left: 2%;
}
.lineaCuatroCatorcemax{
    width: 0.25rem;
    height: 5.2rem;
    top: 66.5%;
    right: 3%;
}
.lineaCuatroQuincemax  {
    width: 95%;
    height: 0.25rem;
    top: 71.7%;
    left: 2%;
}
.lineaCuatroDieciseismax {
    width: 0.25rem;
    height: 13.3rem;
    top: 71.7%;
    left: 2%;
}
.lineaCuatroDiecisietemax {
    width: 98%;
    height: 0.25rem;
    top: 85.2%;
    right: 0%;
} */
#inst9722{
    display: none !important;
}
#inst4293 {
    display: none !important;
}
#inst4327 {
    display: none !important;
}
//hamburguesa
nav.navbar .drawer-toggle .nav-link {
    color: #50565A !important;
    border: none;
    background-color: initial;
}