        <!– Área Mi plan de capacitación –>
          <section class="container">
            <div class="row containCursos">
              <div class="col-12">
                <h4><b id="mas">Cursos habilitados + </b></h4>
                <div class="container containCardCursos">
                  <div class="row gridContainCursos">
                    {{#progressuserA}}
                    {{#.}}
                    <div class="cardCurso">
                      <p class="titleCardCurso"> <a style="text-decoration:none; color:white;"
                          href="{{wwwroot}}/course/view.php?id={{id}}"> {{fullname}}</a></p>
                      <div class="footerCardCurso">
                        <p class="subtitleCardCurso">{{fullname}}</p>
                        <progress class="progressCursos" max="100" value="{{ percentage }}">{{ percentage }} %</progress>
                        <p class="progressNumber">{{ percentage }} % completado</p>
                      </div>
                    </div>
                    {{/.}}
                    {{/progressuserA}}
                  </div>
                </div>
              </div>
              <div class="col-12 contButtonMas">
                <button data-toggle="modal" data-target="#exampleModalLong">Ver más</button>
              </div>
            </div>
          </section>
        
          <!-- Ventana modal -->
          <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
            aria-hidden="true">
            <div class="modal-dialog" role="document" style="min-width: 80%;">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Todos los cursos</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- Se agrega la Tabla de avances dentro de la ventana modal -->
                <div class="modal-body">
                  <div class="container containCursos">
                    <div class="row">
                      <div class="col-12">
                        <h4><b id="mas">Cursos habilitados + </b></h4>
                        <div class="container containCardCursos">
                          <div class="row gridContainCursos">
                            {{#progressuserA}}
                            {{#.}}
                            <div class="cardCurso">
                              <p class="titleCardCurso"> <a style="text-decoration:none; color:white;"
                                  href="{{wwwroot}}/course/view.php?id={{id}}"> {{fullname}}</a></p>
                              <div class="footerCardCurso">
                                <p class="subtitleCardCurso">{{fullname}}</p>
                                <progress class="progressCursos" max="100" value="{{ percentage }}">{{ percentage }} %</progress>
                                <p class="progressNumber">{{ percentage }} % completado</p>
                              </div>
                            </div>
                            {{/.}}
                            {{/progressuserA}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script>
            const barProgress = document.querySelectorAll('.progressCursos');

            barProgress.forEach(progressBar => {
                    if(progressBar.value >= 0 && progressBar.value <= 30){
                        progressBar.classList.add("red");
                    } else if(progressBar.value >= 31 && progressBar.value <= 60){
                        progressBar.classList.add("orange");
                    } else if(progressBar.value >= 61 && progressBar.value <= 99){
                        progressBar.classList.add("yellow");
                    } else if(progressBar.value == 100){
                        progressBar.classList.add("green");
                    }
                
                
            });

          </script>
          <style>
            .modal-body {
              position: relative !important;
              flex: 1 1 auto !important;
              padding: 0 !important;
            }
          </style>