
    {{=<% %>=}}    
    <div >
        <div style="background:#d9d9d9 !important;max-height: 16vh;">
            
            <img alt="una computadora" src="<%wwwroot%>/theme/biossex/pix/maqueta.png"/>
        </div>
        <div style="margin-top: -100px;display: flex; align-items: center;">
            <img style="width:11rem;height:11rem;border-radius:50%;border:#F2801F 5px solid;margin: 0 auto;" 
                alt="Silhouette of a person's head" 
                src="<%pixuser%>" />
        </div>
        <ion-item style="text-align:center; min-height: 35px !important;">
            <ion-label >
                <p>Bienvenido <b><%nameuser%></b></p>
                <p style="color: #F2801F;font-weight: bold;margin: 0 !important;"> <%saludo%></p>
                <p><%puesto%></p>
            </ion-label>
        </ion-item>
       
        <ion-item style="background-color: #d9d9d9 !important;">
            <ion-title style="font-weight: bold;">Mi Plan de <span style="color:#F2801F;">Capacitación</span></ion-title>
        </ion-item>
        <ion-list style="background:url('<%wwwroot%>/theme/biossex/pix/plancapacitacion.png'); 
                        background-repeat: no-repeat; 
                        background-position: center center;
                        background-attachment: fixed;">
            
            <%#PlanCapacitacion%>
                <%#.%>
                    <ion-card>
                        <ion-card-header>
                            <ion-card-title><%semanas%></ion-card-title>
                        </ion-card-header>
                        <%#cursos%>
                        <ion-card-content>
                            <ion-list>
                                <a href="moodlemobile://<%wwwroot%>?redirect=/course/view.php?id=<%id%>" data-open-in="app" style="text-decoration: none;">
                                    <ion-item lines="inset" detail="true">
                                        <ion-label>
                                            <%fullname%>
                                        </ion-label>
                                    </ion-item>
                                </a>
                            </ion-list>
                        </ion-card-content>
                        <%/cursos%>
                    </ion-card>
                <%/.%>
            <%/PlanCapacitacion%>
        </ion-list> 
    </div>
        
  

  